/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    /* default theme */
    :root {
    /* --var-name: rgb value */
    --color-primary: 17, 24, 39;
    --color-muted: 109, 115, 128;
    --color-secondary: 255, 255, 255;
    --color-accent: 79, 70, 229;
    }
    /* custom themes
        if you apply this class on any element than these property will be used for that
        and for gloab just apply this class to body tag
    */
    .theme-swiss {
      --color-text-base: 255, 255, 255;
      --color-text-muted: 254, 202, 202;
      --color-text-inverted: 220, 38, 38;
      --color-fill: 185, 28, 28;
      --color-button-accent: 255, 255, 255;
      --color-button-accent-hover: 254, 242, 242;
      --color-button-muted: 239, 68, 68;
    }
    .theme-neon {
      --color-text-base: 17, 24, 2;
      --color-text-muted: 47, 67, 6;
      --color-text-inverted: 235, 250, 204;
      --color-fill: 179, 255, 23;
      --color-button-accent: 36, 52, 3;
      --color-button-accent-hover: 55, 79, 5;
      --color-button-muted: 212, 255, 122;
    }
  }
  